:root {
  --whitefont: #f0f0f0;
  --black: black;
  --relume-library-lite--rl-black: black;
  --relume-library-lite--rl-white: white;
  --otherwhite: var(--white);
  --bg-gradient: rgba(201, 255, 207, .43);
  --white: white;
  --whiteopacity: rgba(0, 0, 0, 0);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-logo-left {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 100%;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #f5f7ff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Lexend, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-heading-left {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.gallery-slider {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-slide {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  position: relative;
}

.gallery-image {
  width: 100%;
}

.gallery-slide-text {
  color: #f5f7fa;
  margin-bottom: 0;
  line-height: 32px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.gallery-slider-left {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  left: -50px;
}

.gallery-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.gallery-slider-right {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  right: -50px;
}

.gallery-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slide-nav {
  display: none;
}

.team-circles {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.team-grid {
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.team-card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image {
  object-fit: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
}

.team-member-name {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position {
  margin-bottom: 24px;
}

.image {
  width: 80%;
}

.efi-arrow-icon {
  width: auto;
  height: auto;
}

.efi-ft-10-feature {
  cursor: pointer;
  background-color: #eee;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  min-height: 400px;
  padding: 10px 20px 20px;
  transition: all .7s;
  display: flex;
}

.efi-ft-10-feature:hover {
  filter: invert();
}

.efi-ft-10-features-grid {
  grid-column-gap: 25px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ft-10-text-block {
  color: var(--whitefont);
  font-size: 18px;
  font-weight: 700;
}

.ft-10-tab-link {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  padding-right: 20px;
}

.ft-10-tab-link.w--current {
  color: #bdbdbd;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  padding-right: 20px;
}

.efi-ft-10-tabs-menu {
  margin-top: 40px;
  margin-bottom: 30px;
}

.efi-paragraph {
  color: var(--black);
}

.efi-ft-10-grid-wrapper {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.efi-h2 {
  color: var(--whitefont);
  font-family: Lexend, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.efi-ft-10-grid {
  grid-template-rows: auto;
  grid-template-columns: 2.25fr;
  margin-bottom: 100px;
}

.efi-ft-10-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-10 {
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000 17%, #000 84%, rgba(0, 0, 0, 0));
  outline: 3px #333;
  padding: 220px 10%;
}

.efi-button {
  background-color: #f0f0f0;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-button.invert {
  filter: invert();
  color: #000;
  border: 1px solid #000;
}

.efi-cta-10-wrapper {
  color: #fff;
  text-align: center;
  background-color: #eee;
  padding: 50px 100px;
}

.efi-cta-10-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-cta-10 {
  background-color: rgba(255, 255, 255, 0);
  padding: 75px 5%;
}

.efi-social-link {
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  padding: 10px;
  display: flex;
}

.efi-ftr-02-footer-wrapper {
  align-items: center;
  display: flex;
}

.efi-footer-link-white {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

.efi-footer-link-white:hover {
  opacity: .5;
}

.efi-ftr-02-link-wrap {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
}

.efi-paragraph-light {
  color: rgba(255, 255, 255, .62);
  font-size: 15px;
}

.efi-ftr-02-footer-centre {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ftr-02-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-02 {
  background-color: #171717;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #000 48%);
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 100px 5%;
  display: flex;
  position: static;
}

.rl-button-secondary {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl_team5_spacing-block-9 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_team5_spacing-block-8 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-heading-style-h4 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.rl_team5_cta-wrapper {
  text-align: center;
  width: 100%;
  max-width: 35rem;
}

.rl_team5_spacing-block-7 {
  width: 100%;
  padding-bottom: 6rem;
}

.rl-social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rl_team5_social-link {
  color: var(--relume-library-lite--rl-black);
}

.rl_team5_social {
  grid-column-gap: .875rem;
  grid-row-gap: .875rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: center;
  display: grid;
}

.rl_team5_spacing-block-6 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-text-style-regular {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_team5_spacing-block-5 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_team5_name-text {
  color: var(--relume-library-lite--rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_team5_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_team5_image {
  object-fit: cover;
  border-radius: 100%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
}

.rl_team5_item {
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.rl_team5_list {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
}

.rl_team5_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_team5_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_team5_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_team5_heading-wrapper {
  text-align: center;
  width: 100%;
  max-width: 48rem;
}

.rl_team5_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global {
  padding-left: 10%;
  padding-right: 10%;
}

.rl_section_team5 {
  background-color: var(--relume-library-lite--rl-white);
}

.efi-hr-01-logo-cell {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.efi-hr-01-logos-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.efi-hr-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-01-logos {
  background-color: #fff;
  padding: 50px 0%;
}

.efi-hr-01-right-content {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

.efi-hr-01-buttons-wrapper {
  flex: 0 auto;
}

.efi-big-paragraph {
  color: var(--whitefont);
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
}

.efi-jumbo {
  color: var(--whitefont);
  -webkit-text-stroke-color: var(--whitefont);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  font-family: Lexend Zetta, sans-serif;
  font-size: 9vh;
  line-height: 1.8em;
}

.efi-label {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-label.big {
  font-size: 16px;
  line-height: 1.8em;
}

.efi-hr-01-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-01-left-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-01-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
}

.efi-hr-01 {
  padding: 5% 10%;
}

.body {
  background-color: var(--black);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  overflow: visible;
}

.text-span {
  color: #222;
}

.rl-button-secondary-2 {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl_team8_spacing-block-9 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium-2 {
  box-sizing: border-box;
  aspect-ratio: auto;
  color: var(--whitefont);
  object-fit: fill;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_team8_spacing-block-8 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-heading-style-h4-2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.rl_team8_cta-wrapper {
  width: 100%;
  max-width: 35rem;
}

.rl_team8_spacing-block-7 {
  width: 100%;
  padding-bottom: 6rem;
}

.rl-social-icon-2 {
  color: var(--otherwhite);
  width: 1.6rem;
  height: 1.5rem;
}

.rl_team8_social-link {
  color: var(--relume-library-lite--rl-black);
}

.rl_team8_social {
  grid-column-gap: .875rem;
  grid-row-gap: .875rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: flex-start;
  display: grid;
}

.rl_team8_spacing-block-6 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-text-style-regular-2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_team8_spacing-block-5 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_team8_name-text {
  color: var(--relume-library-lite--rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_team8_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_team8_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rl_team8_image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.rl_team8_item {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.rl_team8_list {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
}

.rl_team8_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_team8_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2-2 {
  color: var(--whitefont);
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lexend, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.rl_team8_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_team8_heading-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl_team8_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl-padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-large-2 {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-2 {
  padding-left: 10%;
  padding-right: 10%;
}

.rl_section_team8 {
  background-color: var(--relume-library-lite--rl-white);
}

.rl_team5_spacing-block-9-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_team5_spacing-block-8-2 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_team5_cta-wrapper-2 {
  text-align: center;
  width: 100%;
  max-width: 35rem;
}

.rl_team5_spacing-block-7-2 {
  width: 100%;
  padding-bottom: 6rem;
}

.rl_team5_social-link-2 {
  color: var(--relume-library-lite--rl-black);
}

.rl_team5_social-2 {
  grid-column-gap: .875rem;
  grid-row-gap: .875rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: center;
  display: grid;
}

.rl_team5_spacing-block-6-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_team5_spacing-block-5-2 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_team5_name-text-2 {
  color: var(--whitefont);
  font-family: Lexend, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_team5_spacing-block-4-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_team5_image-2 {
  object-fit: cover;
  border-radius: 100%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
}

.rl_team5_item-2 {
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.rl_team5_list-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
}

.rl_team5_spacing-block-3-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_team5_spacing-block-2-2 {
  width: 100%;
  padding-bottom: 1.5rem;
  line-height: 35px;
}

.rl_team5_spacing-block-1-2 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_team5_heading-wrapper-2 {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.rl_team5_component-2 {
  opacity: 1;
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  outline: 3px #333;
  flex-direction: column;
  align-items: stretch;
  padding: 40px 20px 60px;
  display: flex;
}

.rl-padding-global-3 {
  padding-left: 0%;
  padding-right: 0%;
}

.rl_section_team5-2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000 13%, #000 82%, rgba(255, 255, 255, 0));
}

.paragraph {
  color: var(--whitefont);
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
}

.container-2 {
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.div-block {
  z-index: -1;
  background-color: var(--bg-gradient);
  filter: blur(100px);
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  flex: 0 auto;
  width: 800px;
  height: 700px;
  display: block;
  position: absolute;
  top: 1507px;
  left: 655px;
  transform: rotate(-45deg);
}

.div-block-cocpy {
  z-index: -1;
  background-color: var(--bg-gradient);
  filter: blur(200px);
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  flex: 0 auto;
  width: 800px;
  height: 600px;
  display: block;
  position: relative;
  top: -188px;
  left: 1025px;
  transform: rotate(45deg);
}

.div-block-cocpy.b1 {
  position: absolute;
  top: -147px;
  left: 785px;
}

.div-block-copy2 {
  z-index: -1;
  background-color: var(--bg-gradient);
  filter: blur(150px);
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  flex: 0 auto;
  width: 800px;
  height: 800px;
  display: block;
  position: absolute;
  top: 341px;
  left: -443px;
  transform: rotate(45deg);
}

.efi-h2-copy {
  color: var(--black);
  font-family: Lexend, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.div-block-copy {
  z-index: -1;
  background-color: var(--bg-gradient);
  filter: blur(100px);
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  flex: 0 auto;
  width: 800px;
  height: 500px;
  display: block;
  position: absolute;
  top: 2728px;
  left: -560px;
  transform: rotate(-45deg);
}

.image-2 {
  width: 35px;
}

.image-3 {
  width: 1.4rem;
  height: 1.4rem;
}

.image-4, .image-5, .image-6, .image-7 {
  width: 1.5rem;
}

.efi-form-button {
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
  border-radius: 0;
  width: 100%;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all .7s ease-in-out;
}

.efi-form-button:hover {
  color: #fff;
  background-color: #636363;
  transform: translate(0, -7px);
}

.efi-form-button:active {
  color: #fff;
}

.efi-form-button.invert {
  filter: invert();
}

.input {
  color: #727272;
  letter-spacing: -.8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid #6b6b6b;
  height: 55px;
  margin-bottom: 30px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.input:focus {
  border: 1px #cecece;
  border-bottom-style: solid;
}

.efi-paragraph-2 {
  font-size: 16px;
}

.efi-frm-03-text-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
}

.efi-frm-03-container {
  color: #fff;
}

.efi-frm-03 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000 18%, #000 89%, rgba(0, 0, 0, 0));
  padding: 100px 5%;
}

.image-8 {
  width: 60px;
}

.rl_team5_spacing-block-2-2-copy {
  width: 100%;
  padding-bottom: 1.5rem;
  line-height: 35px;
}

.image-9 {
  width: 1.2rem;
}

.image-10 {
  width: 1.5rem;
}

.image-11 {
  width: 1.3rem;
  height: 1.3rem;
}

.div-block-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-9-copy {
  width: 1.2rem;
}

.image-11-copy {
  width: 1.3rem;
  height: 1.3rem;
}

.mar-t-24 {
  margin-top: 1.5em;
}

.swiper-wrapper {
  align-items: stretch;
  display: flex;
}

.card-content {
  margin-left: 14px;
  padding-right: 30px;
}

.slider-main_button-wrapper {
  grid-column-gap: 10px;
  margin-bottom: 1.5em;
  display: flex;
}

.p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.swiper {
  flex-direction: row;
  align-items: center;
}

.active-card-label {
  color: #fa7f03;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 54px;
  line-height: 1;
}

.card-number {
  color: #fff;
  font-size: 240px;
  line-height: 1;
}

.card-label {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.slider-main_button {
  color: #c8dd5e;
  text-align: center;
  border: 1px solid #a5a5a5;
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  width: 3.25em;
  height: 3.25em;
  padding-top: 4px;
  transition: all .2s;
  display: flex;
}

.slider-main_button:hover {
  color: #1f1f1f;
  transform: scale(1.1);
}

.swiper-content {
  text-align: left;
  background-color: #8b8b8b;
  border-radius: 18px;
  flex-direction: column;
  align-items: center;
  width: 40em;
  height: 550px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-content._2 {
  background-color: #006aff;
}

.swiper-content._4 {
  background-color: #00c49a;
}

.swiper-content._1 {
  background-color: #fa7f03;
  justify-content: space-between;
  align-items: flex-start;
}

.swiper-content._3 {
  background-color: #af56f3;
}

.container-3 {
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.slider-custom-style {
  display: none;
}

.author-designation {
  color: rgba(10, 12, 10, .6);
  letter-spacing: -.00656rem;
  font-size: .875rem;
  font-weight: 400;
}

.swiper-slide-2 {
  flex: 0 0 39.375rem;
}

.testimonial_text {
  color: rgba(10, 12, 10, .6);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

.section-spacing {
  padding-left: 30px;
  padding-right: 30px;
}

.section-spacing.project {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.testimonial_content {
  flex-direction: column;
  justify-content: space-between;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: flex;
}

.swiper-wrapper-2 {
  display: flex;
}

.swiper-button-prev {
  z-index: 5;
  cursor: pointer;
  background-color: #f8ffe9;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: color .2s, background-color .3s;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 60%;
  left: -1.5rem;
  right: auto;
  transform: translate(0, 50%);
}

.swiper-button-prev:hover {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper-button-prev:focus-visible {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper-button-prev[data-wf-focus-visible] {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper_slider-wrapper {
  overflow: hidden;
}

.author-name {
  color: #0a0c0a;
  font-weight: 500;
  line-height: 1.1;
}

.testimonial_thumb {
  flex: none;
  overflow: hidden;
}

.testimonial_author {
  border-radius: .9375rem;
  width: 100%;
}

.testimonial_item-wrap {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  background-color: #f1f1f1;
  border-radius: 1.25rem;
  padding: 1.5rem;
  display: flex;
}

.swiper-pagination {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  display: flex;
}

.swiper-button-next {
  z-index: 5;
  cursor: pointer;
  background-color: #f8ffe9;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: color .2s, background-color .3s;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 60%;
  left: auto;
  right: -1.5rem;
  transform: translate(0, 50%);
}

.swiper-button-next:hover {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper-button-next:focus-visible {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper-button-next[data-wf-focus-visible] {
  color: #f8ffe9;
  background-color: #0b0c0b;
}

.swiper_component {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.div-block-4 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .nav-link {
    font-size: 22px;
    transition: color .2s;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .efi-arrow-icon {
    width: auto;
    height: auto;
  }

  .efi-h5 {
    font-size: 16px;
  }

  .ft-10-text-block {
    font-size: 20px;
  }

  .efi-social-link {
    transition: filter .2s;
  }

  .efi-social-link:hover {
    filter: brightness(20%);
  }

  .efi-footer-link-white {
    font-size: 20px;
  }

  .efi-hr-01-right-content {
    width: 100%;
  }

  .efi-big-paragraph {
    font-size: 50px;
    line-height: 50px;
  }

  .efi-jumbo {
    font-size: 9vh;
  }

  .efi-hr-01-left-content {
    justify-content: flex-end;
  }

  .rl_team5_image-2 {
    width: 7rem;
    height: 7rem;
  }

  .div-block-cocpy.b1 {
    left: 861px;
  }

  .image-2 {
    width: 45px;
  }

  .image-3 {
    width: 2rem;
    height: 2rem;
  }

  .image-4, .image-5, .image-6, .image-7 {
    width: 2.5rem;
  }

  .input {
    font-size: 20px;
  }

  .efi-paragraph-2 {
    font-size: 18px;
    line-height: 22px;
  }

  .efi-frm-03-text-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .efi-frm-03 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .image-9 {
    width: 1.7rem;
  }

  .image-10 {
    width: 2rem;
  }

  .heading {
    font-size: 30px;
  }

  .image-11 {
    width: 1.7rem;
    height: 1.7rem;
  }

  .image-9-copy {
    width: 1.7rem;
  }

  .image-9-copy.image-hover {
    filter: brightness(200%);
  }

  .image-11-copy {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (min-width: 1920px) {
  .navbar-logo-left-container.shadow-three {
    margin-top: 27px;
  }

  .nav-link {
    font-size: 26px;
  }

  .image {
    width: 75%;
  }

  .efi-arrow-icon {
    width: auto;
    height: auto;
  }

  .efi-h5 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 24px;
  }

  .efi-ft-10-feature {
    width: 300px;
  }

  .ft-10-text-block {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
  }

  .ft-10-tab-link, .ft-10-tab-link.w--current {
    padding-right: 40px;
  }

  .efi-social-link {
    width: 60px;
  }

  .efi-footer-link-white {
    font-size: 28px;
  }

  .efi-footer-link-white.w--current {
    font-family: Montserrat, sans-serif;
  }

  .efi-hr-01-container {
    max-width: 100%;
  }

  .efi-hr-01-logos {
    background-color: #fff;
  }

  .efi-hr-01-right-content {
    background-image: none;
    width: 100%;
  }

  .efi-big-paragraph {
    font-size: 57px;
    line-height: 60px;
  }

  .efi-jumbo {
    font-size: 10vh;
  }

  .efi-hr-01-left-content {
    justify-content: center;
  }

  .body {
    overflow: visible;
  }

  .rl-text-style-medium-2 {
    font-size: 1.8rem;
  }

  .rl-social-icon-2 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 3.8rem;
  }

  .rl_team5_social-link-2 {
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
  }

  .rl_team5_name-text-2 {
    font-size: 1.7rem;
  }

  .rl_team5_image-2 {
    width: 10rem;
    height: 10rem;
  }

  .div-block {
    left: 1094px;
  }

  .div-block-cocpy.b1 {
    top: -166px;
    left: 1278px;
  }

  .div-block-copy {
    left: -374px;
  }

  .image-2 {
    width: 55px;
  }

  .image-3 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .image-4, .image-5, .image-6, .image-7 {
    width: 3rem;
  }

  .efi-form-button.invert {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
  }

  .input {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
  }

  .efi-paragraph-2 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    line-height: 30px;
  }

  .efi-frm-03-text-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .efi-frm-03 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .image-9, .image-10 {
    width: 2.5rem;
  }

  .heading {
    font-family: Lexend, sans-serif;
    font-size: 40px;
  }

  .image-11 {
    width: 2rem;
    height: 2rem;
  }

  .image-9-copy {
    width: 2rem;
  }

  .image-11-copy {
    width: 2.5rem;
    height: auto;
  }

  .mask {
    width: auto;
    padding-left: 0%;
    padding-right: 0%;
  }

  .slider {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    min-height: 400px;
  }

  .div-block-3 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .slide, .slide-2, .slide-3 {
    width: 300px;
  }

  .section {
    overflow: hidden;
  }

  .project-p {
    font-size: 17px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .efi-ft-10-features-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-ft-10-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-10 {
    margin-top: 83px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .efi-cta-10-wrapper {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .rl-heading-style-h4 {
    font-size: 1.75rem;
  }

  .rl_team5_spacing-block-7 {
    padding-bottom: 5rem;
  }

  .rl_team5_list {
    grid-column-gap: 2rem;
  }

  .rl_team5_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .efi-hr-01-logos-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .efi-hr-01-right-content {
    display: none;
  }

  .efi-jumbo {
    font-size: 65px;
  }

  .efi-hr-01-left-content {
    padding-right: 0%;
  }

  .efi-hr-01-grid {
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .efi-hr-01 {
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .rl-heading-style-h4-2 {
    font-size: 1.75rem;
  }

  .rl_team8_spacing-block-7 {
    padding-bottom: 5rem;
  }

  .rl_team8_list {
    grid-column-gap: 2rem;
  }

  .rl_team8_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl_team5_spacing-block-7-2 {
    padding-bottom: 5rem;
  }

  .rl_team5_list-2 {
    grid-column-gap: 2rem;
  }

  .rl_team5_spacing-block-3-2 {
    padding-bottom: 4.5rem;
  }

  .container-2 {
    overflow: visible;
  }

  .div-block {
    left: 524px;
  }

  .div-block-cocpy.b1 {
    left: 730px;
  }

  .div-block-copy2 {
    left: -479px;
  }

  .active-card-label {
    margin-bottom: 0;
    font-size: 48px;
  }

  .slider-main_button:hover {
    transform: none;
  }

  .swiper-slide-2 {
    flex-basis: 32rem;
  }

  .testimonial_text {
    font-size: 1.4rem;
  }

  .swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
    left: -1rem;
  }

  .testimonial_thumb {
    width: 13.2rem;
  }

  .swiper-pagination {
    bottom: -3rem;
  }

  .swiper-button-next {
    width: 2.5rem;
    height: 2.5rem;
    right: -1rem;
  }

  .icon {
    color: var(--whitefont);
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-wrapper {
    justify-content: center;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .team-slider, .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .team-circles {
    padding: 60px 15px;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-ft-10 {
    margin-top: 114px;
  }

  .rl_team5_spacing-block-9 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_team5_spacing-block-8 {
    padding-bottom: .75rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_team5_spacing-block-7 {
    padding-bottom: 3.5rem;
  }

  .rl_team5_spacing-block-6 {
    padding-bottom: 1.25rem;
  }

  .rl_team5_spacing-block-5 {
    padding-bottom: .75rem;
  }

  .rl_team5_name-text {
    font-size: 1.125rem;
  }

  .rl_team5_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_team5_list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_team5_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_team5_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl_team5_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .efi-jumbo {
    font-size: 50px;
  }

  .rl_team8_spacing-block-9 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-2 {
    font-size: 1rem;
  }

  .rl_team8_spacing-block-8 {
    padding-bottom: .75rem;
  }

  .rl-heading-style-h4-2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_team8_spacing-block-7 {
    padding-bottom: 3.5rem;
  }

  .rl_team8_spacing-block-6 {
    padding-bottom: 1.25rem;
  }

  .rl_team8_spacing-block-5 {
    padding-bottom: .75rem;
  }

  .rl_team8_name-text {
    font-size: 1.125rem;
  }

  .rl_team8_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_team8_image-wrapper {
    height: 100%;
  }

  .rl_team8_list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_team8_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_team8_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.25rem;
  }

  .rl_team8_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_team5_spacing-block-9-2 {
    padding-bottom: 1.5rem;
  }

  .rl_team5_spacing-block-8-2 {
    padding-bottom: .75rem;
  }

  .rl_team5_spacing-block-7-2 {
    padding-bottom: 3.5rem;
  }

  .rl_team5_spacing-block-6-2 {
    padding-bottom: 1.25rem;
  }

  .rl_team5_spacing-block-5-2 {
    padding-bottom: .75rem;
  }

  .rl_team5_name-text-2 {
    font-size: 1.125rem;
  }

  .rl_team5_spacing-block-4-2 {
    padding-bottom: 1.25rem;
  }

  .rl_team5_list-2 {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_team5_spacing-block-3-2 {
    padding-bottom: 3rem;
  }

  .rl_team5_spacing-block-2-2 {
    padding-bottom: 1.25rem;
  }

  .rl_team5_spacing-block-1-2 {
    padding-bottom: .75rem;
  }

  .div-block {
    left: 455px;
  }

  .div-block-cocpy.b1 {
    left: 566px;
  }

  .div-block-copy {
    top: 2816px;
    left: -306px;
  }

  .rl_team5_spacing-block-2-2-copy {
    padding-bottom: 1.25rem;
  }

  .swiper-content {
    width: 340px;
    height: 480px;
  }

  .swiper-slide-2 {
    flex-basis: 100%;
  }

  .testimonial_text {
    font-size: 1.3rem;
  }

  .section-spacing {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-spacing.project {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
  }

  .testimonial_thumb {
    width: auto;
  }

  .testimonial_author {
    object-fit: cover;
    object-position: 50% 0%;
    height: 24rem;
  }

  .testimonial_item-wrap {
    flex-direction: column;
    padding: 1rem;
  }

  .swiper-pagination {
    margin-top: 2rem;
  }

  .swiper-button-next {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .navbar-wrapper {
    justify-content: center;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .team-grid, .efi-ft-10-features-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-10 {
    margin-top: 138px;
  }

  .efi-cta-10-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .efi-ftr-02-footer-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .rl_team5_list {
    grid-template-columns: 1fr;
  }

  .efi-hr-01-logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-big-paragraph {
    font-size: 28px;
  }

  .efi-jumbo {
    font-size: 43px;
  }

  .efi-hr-01 {
    padding-top: 25%;
  }

  .rl_team8_image-wrapper {
    padding-top: 66%;
  }

  .rl_team8_list, .rl_team5_list-2 {
    grid-template-columns: 1fr;
  }

  .div-block {
    top: 1928px;
    left: -8px;
  }

  .div-block-copy {
    top: 3850px;
    left: -358px;
  }

  .efi-frm-03-text-grid {
    grid-template-columns: 1fr;
  }

  .active-card-label {
    font-size: 38px;
  }

  .card-number {
    font-size: 180px;
  }

  .testimonial_text {
    font-size: 1.2rem;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    bottom: -2.5rem;
  }

  .swiper-button-next {
    display: none;
  }
}

#w-node-d518e2a7-9585-49d1-3261-baf4d3a426f5-13d71deb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d518e2a7-9585-49d1-3261-baf4d3a42700-13d71deb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_8a322aab-85a1-d15a-889a-df62bd87a35c-13d71deb, #w-node-_8a322aab-85a1-d15a-889a-df62bd87a366-13d71deb, #w-node-_8a322aab-85a1-d15a-889a-df62bd87a36b-13d71deb, #w-node-_8a322aab-85a1-d15a-889a-df62bd87a361-13d71deb, #w-node-_6fa743f9-9d7e-cb39-8787-a3a8408aaadf-13d71deb, #w-node-_6fa743f9-9d7e-cb39-8787-a3a8408aaae4-13d71deb, #w-node-_6fa743f9-9d7e-cb39-8787-a3a8408aaae9-13d71deb, #w-node-_6fa743f9-9d7e-cb39-8787-a3a8408aaaee-13d71deb, #w-node-_934085ab-cd7b-1f39-7063-901c2b87db75-13d71deb, #w-node-_934085ab-cd7b-1f39-7063-901c2b87db78-13d71deb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-d518e2a7-9585-49d1-3261-baf4d3a426f5-13d71deb {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d518e2a7-9585-49d1-3261-baf4d3a42700-13d71deb {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: auto;
  }
}

@media screen and (min-width: 1440px) {
  #w-node-d518e2a7-9585-49d1-3261-baf4d3a426f5-13d71deb {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d518e2a7-9585-49d1-3261-baf4d3a42700-13d71deb {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: auto;
  }
}


