.landing-page-hero {
    padding: 20px 10%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.company-name {
    font-weight: bold;
    font-size: 66px;
    color: #f1f1f1;
    width: 100%;
    text-align: left;
    margin: 0;
    font-family: 'Lexend Zetta';
    letter-spacing: 10px;
}

.left-block {
    width: 100%;
}

.right-block {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-block img {
    height: 20rem;
}

.intro {
    font-size: 2.5rem;
    color: rgb(243, 243, 243);
    margin: 0;
    margin-left: 9px;
    width: 100%;
    text-align: left;
    font-family: 'Roboto';
}

.soon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 7vh;
}

.soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    width: 50%;
    background-color: rgb(31, 31, 31);
    border-radius: 100px;
    transition: box-shadow 0.8s ease, background-color 0.8s ease;
}

.soon-container:hover {
    box-shadow: 0 0 60px rgb(132, 132, 132);
    background-color: rgb(193, 196, 192);
}

.soon-container:hover h2, .soon-container:hover p {
    color: rgb(19, 19, 19);
}

.soon-container h2 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    font-family: 'Lexend Zetta';
    letter-spacing: -5px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: color 0.5s ease;
}

.soon-container p {
    margin-top: 50px;
    font-size: 1rem;
    color: white;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    transition: color 0.5s ease;
}

@media (max-width: 768px) {
    .landing-page-hero {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        overflow-x: hidden;
    }

    .right-block img {
        display: none;
    }

    .hero-text p {
        font-size: 2rem;
    }
    
    .company-name{
        margin-left: 5px;
        font-size: 80px;
    }

    .soon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 80%;
        background-color: rgb(31, 31, 31);
        border-radius: 30px;
        padding: 10px;
    }

    .soon-container h2 {
        font-size: 1rem;
        color: white;
        margin: 0;
        font-family: 'Lexend Zetta';
        letter-spacing: -5px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .soon-container p {
        margin-top: 50px;
        font-size: .8rem;
        color: white;
        margin: 0;
        font-family: 'Roboto';
        font-weight: 300;
        text-align: center;
    }

    .soon-container:hover {
        box-shadow: none;
        background-color: rgb(31, 31, 31);
    }
}