.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    height: 60px;
}

.navbar-right-container {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
}

.navbar-logo-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-logo-name-container img {
    width: 40px;
    height: 40px;
    color: black;
}

.navbar-logo-name-container h1 {
    font-size: 1.5rem;
    margin-left: 10px;
    font-family: 'Lexend Zetta';
    color: white;
}

.navbar-routes-container {
    width: 100%;
}


/* 
.navbar-routes-container a {
    position: relative;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    display: inline-block;
}

.navbar-routes-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    transform: translateX(-50%) scaleX(0); 
}

.navbar-routes-container a:hover::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1); 
} */

.navbar-routes-container a {
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    margin-right: 20px;
    padding: 10px 25px;  
    color: white;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    transition: color 0.5s ease; 
    background-clip: text;  
    font-family: 'Roboto';
}

.navbar-routes-container a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transition: width 0.5s ease;
}

.navbar-routes-container a:hover::before {
    width: 100%;
}

.navbar-routes-container a:hover {
    color: rgb(0, 0, 0); 
}

.navbar-links-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 30px;
}

.navbar-links-container a{
    margin-left: 20px;
    width: 50%;
    marker: none;
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 10px 5%;
        justify-content: center;
    }

    .navbar-container h1 {
        display: none;
    }

    .navbar-logo-name-container h1 {
        font-size: 1.2rem;
    }

    .navbar-routes-container a {
        display: none;
    }

    .navbar-links-container {
        display: none;
    }
}